.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}

.forgot-password-box {
  width: 400px; /* Đảm bảo chiều rộng cố định */
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-password-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.forgot-password-title img {
  width: 24px;
  height: 24px;
}

.forgot-password-desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  margin-top: 20px;
}

.forgot-password-input {
  width: calc(100% - 20px); /* Đảm bảo input không bị lệch */
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
  text-align: center;
  margin: 0 auto; /* Căn giữa */
  display: block;
}

.forgot-password-input:focus {
  border-color: rgb(247, 4, 4);
  box-shadow: 0 0 8px rgba(240, 100, 100, 0.3);
}

.forgot-password-btn {
  width: 100%;
  padding: 12px;
  background:  #ec8681;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.forgot-password-btn:hover {
  background: #9379cb;
  box-shadow: 0px 4px 8px rgba(212, 175, 55, 0.3);
}
