/* src/index.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }